    .offer {
        border: solid 2px gray;
        width: 100%;
        display: block;
        min-height: 250px;
        margin: 5px;
    }
    
    .offers {
        width: 100%;
    }
    
    .price {
        color: blue;
    }
    
    .textWrap {
        float: left;
    }
    
    .offer p {
        padding-top: 10px;
        display: inline;
        /*width: 70%;*/
    }
    
    body {
        width: 80%;
        margin: 0 auto;
    }
    /*
    #headpic {
        width: 100%;
    }
    */
    
    footer {
        background: #347800;
        text-align: center;
    }
    
    h1 {
        text-align: center;
    }
    
    header {
        text-align: center;
    }
    
    form {
        padding-top: 0.5em;
    }
    
    section {
        display: block;
    }
    
    .somepics {
        margin: 10px 10px;
    }
